<app-header></app-header>
<div id="progress" class="progress"></div>

<div class="container" style="text-align: center">
  <div class="button-container">
    <button class="back-btn" (click)="navigateToPreviousStep()">
      <fa-icon [icon]="icon" class="icon" style="color: #b5b4b4;"></fa-icon>
    </button>
    <small class="back-text">Président</small>
  </div>
  <h1 class="heading-primary">
    Je renseigne
    <span class="heading-primary-blue">mon adresse</span>
  </h1>

  <div class="wrapper wrapper-col">  
    <div>
      <img src="../../../assets/images/map.svg" class="img-map" alt="an image" />
    </div>

    <div class="location-input-icons">
      <fa-icon [icon]="iconMap" style="color: #B1D263;" class="location-icon"></fa-icon>
      <input class="location-input-field" type="text" />
    </div>
  </div>

  <input type="submit" routerLink="/etape5" value="je continue" class="button-primary">
</div>