<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>asheel</title>
  </head>
  <body >
    <header>
      <img src="../../../assets/images/logosvg.svg" alt="logo" class="header-img" />
      <div class="header-divider"></div>
      <p class="text">Assurance Sante</p>
  
      <div class="button-container">
        <button class="top-left-button">
          <i class="fa fa-phone"></i><span class="button-text">Rappelez-Moi</span>
        </button>
      </div>
    </header>
</body>
</html>